<h1>Welcome to Epi-clinic</h1>

<a href="/admin-home"class="btn btn-default">For Administrators</a>
<a href="/general-home" class="btn btn-danger">For Doctors</a>
<a href="/general-home" class="btn btn-default">For Patients</a>
